.todo-auth {
  font-size: 12px;
  padding: 6px;
  text-align: right;
}

img {
  border-radius: 100px;
  display: inline-block;
  height: 30px;
  margin-right: 4px;
  vertical-align: middle;
  width: 30px;
}
